{% extends "base.html" %}

{% block title %} Register {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block body_class %} bg-soft {% endblock body_class %}

{% block content %}

    <main>
      <section>

        <div class="text-center text-md-center mb-4 mt-md-0">
            <p>
                {% if msg %}
                    {{ msg | safe }}
                {% else %}
                    Add your credentials
                {% endif %}                                     
            </p>    
        </div>
        
        <form method="post" action="">
            {% csrf_token %}
            
            <div class="form-group mb-4">
                <label for="email">Username</label>
                <div class="input-group">
                    <span class="input-group-text" id="basic-addon3"><span class="fas fa-user-shield"></span></span>
                    {{ form.username }}
                </div>
                <span class="text-error">{{ form.username.errors }}</span>
            </div>

            <div class="form-group mb-4">
                <label for="email">Your Email</label>
                <div class="input-group">
                    <span class="input-group-text" id="basic-addon3"><span class="fas fa-envelope"></span></span>
                    {{ form.email }}
                </div>
                <span class="text-error">{{ form.email.errors }}</span>
            </div>

            <div class="form-group">

                <!-- Form -->
                <div class="form-group mb-4">
                    <label for="password">Password</label>
                    <div class="input-group">
                        <span class="input-group-text" id="basic-addon4"><span class="fas fa-unlock-alt"></span></span>
                        {{ form.password1 }}
                    </div>  
                    <span class="text-error">{{ form.password1.errors }}</span>
                </div>

                <div class="form-group mb-4">
                    <label for="password">Password Check</label>
                    <div class="input-group">
                        <span class="input-group-text" id="basic-addon4"><span class="fas fa-unlock-alt"></span></span>
                        {{ form.password2 }}
                    </div>  
                    <span class="text-error">{{ form.password2.errors }}</span>
                </div>

                <div class="d-flex justify-content-between align-items-center mb-4">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="defaultCheck5">
                        <label class="form-check-label" for="defaultCheck5">
                          Agree terms
                        </label>
                    </div>
                    <div class="form-check">
                        <a href="{% url 'users:login' %}" class="small text-right">Login</a>
                    </div>
                </div>
                
            </div>
            <button type="submit" name="register" class="btn btn-block btn-primary">Sign in</button>
        </form>
      </section>
    </main>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
