{% extends "base.html" %}
{% load static %}

{% block title %} Settings {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
  <div class="card-body pb-5">
    <img src="{{ profile.get_avatar }}" class="user-avatar large-avatar rounded-circle mx-auto mt-n7 mb-4" alt="Default Picture">
    <h4 class="h3">{{ profile.user.username }}</h4>
    <h4 class="font-weight-normal">{{ profile.user.get_full_name }}</h4>
    <h5 class="font-weight-normal">
        {{ request.user.email }}
    </h5>
    <h5 class="font-weight-normal">
        {{ profile.bio }}
    </h5>
  </div>
{% endblock content %}